.menu-image {
	height: 48px;
	float: right;
}

.list-group-item {
	font-size: xx-large;
}

.list-group a:link, .list-group a:visited {
  text-decoration: none;
}

.list-group a:hover, .list-group a:active {
  font-weight: bold;
}

.page-header h1 {
	font-family: Apple Chancery, fantasy, cursive;
	font-weight: bold;
	color: darkred;
	text-align: center;
	margin: 10px;
	padding: 10px;
}